# Copy this file to .env and fill in your keys
# Get Stripe keys from: https://dashboard.stripe.com/test/apikeys

VITE_STRIPE_PUBLISHABLE_KEY=pk_live_51TUnog4rwajKb2ZFetiaLSwEd4NOL2ux1qN60OKiGCYc7g4QtcRPAElvWxO2iJDSq0ozGYpbhQIwoJT04pU5cWuQ00OXePB3Ia
